.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* pointer-events: none; */
  visibility: hidden;
  transition: 0.2s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  /* pointer-events: all; */
}

.modal__content {
  padding: 20px;
  background-color: #fff;
  height: 77vh;
  width: 60vw;
  transform: scale(0.5);
  transition: 0.2s all;
}

.modal__content.active {
  transform: scale(1);
}
